@import '@src/components/button/_';

.footer {
  padding-top: 10px;
  border-top: 4px solid color('red-300');
}

.footer__logo {
}

.footer__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  ul {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0;
  }
}
.footer__menu-item {
  display: inline-block;
}
.item_link {
  display: block;
  margin: 0 9px;
  font-size: fs('def');
  font-weight: 500;
  text-decoration: none;
  color: color('blue-300');
  font-family: font('roboto');
  line-height: lh(16, 19);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer__menu-divider {
  @include hr($color: rgba(225, 225, 225, 1), $size: 1px);
  width: 235px;
  margin: 50px auto;
}

.footer__recall {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.recall-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;

  .recall-link {
    text-decoration: none;
    margin-left: 10px;
    font-family: font('lato');
    font-style: normal;
    font-weight: normal;
    font-size: fs('def');
    line-height: lh(16, 19);
    color: color('blue-300');
  }
}

.recall-button {
  text-align: right;
}

.footer__downline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 84px;
  padding-top: 13px;
}
.downline__inner {
  display: flex;
  flex-direction: column;
  span {
    text-align: center;
    font-family: font('lato');
    font-style: normal;
    font-weight: normal;
    font-size: fs('s');
    line-height: lh(14, 17);
    color: color('blue-300');
    margin-bottom: 12px;
  }
}
.downline-link {
  text-decoration: none;
  font-family: font('lato');
  font-style: normal;
  font-weight: normal;
  font-size: fs('s');
  line-height: lh(14, 17);
  color: color('blue-300');
  margin-bottom: 12px;
}
